// Prevent overflow on HTML element
html {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch; // Native scroll momentum
}

// To prevent jumping <body> should not have any margin on top or bottom
.has-overlay {
	overflow: hidden;
	height: auto;

	> body {
		height: 100%;
		overflow: hidden;
	}
}

%modal {
	// Hide initially
    transform: translate(0, 100%);
    transform: translate3d(0, 100%, 0);

	// Maintain a fixed position
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $modal-layer;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;

	// Show modal when requested
	&:target,
	&.is-active {
		transform: translate(0, 0);

		width: auto;
		height: auto;

		opacity: 1;
	}

	// Internet Explorer 8
	display: none\9;

	&.is-active {
		display: block\9;
		height: 100%\9;
		width: 100%\9;
	}

	// Overwrite IE8 hack for IE9 and IE10
	&:target,
	&.is-active {
		display: block\9;
	}

	// Content Area
	.modal-inner {
		position: absolute;
		top: 60px;
		left: 50%;
		z-index: 20;
		margin-left: ($modal-max-width / 2) * -1;
		width: $modal-max-width;
		overflow-x: hidden;

		-webkit-overflow-scrolling: touch; // Native style momentum scrolling

		> img,
		> video,
		> iframe {
			width: 100%;
			height: auto;
			min-height: 300px;
		}

		> img {
			width: auto;
			max-width: 100%;
		}

		iframe {
			display: block;
			width: 100%;
			border: 0;
		}
	}

	// Content
	.modal-content {
		position: relative;
		max-height: 400px;
		max-height: 90vh;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		> * {
			max-width: 100%;
		}
	}

	// Footer
	footer {
		border-top: 1px solid lighten($modal-border-color, 20);
		padding: 0 1.2em 18px;
		background: #f0f0f0;
		border-radius: 2px;
	}

	// A close button
	.modal-close {
		display: block;
		height: 1px; // Prevent close element to appear
		clip: rect(0 0 0 0);
		margin: -1px;
		overflow: hidden;

		&:focus:after {
			outline: 1px dotted;
			outline: -webkit-focus-ring-color auto 5px;
		}

		// Background as close
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 10;
		}

		// Actual close button on modal
		&:after {
			content: '\00d7';
			position: absolute;
			top: 35px;
			right: 50%;
			z-index: 20;
			margin-right: -($modal-max-width / 2);
		}
	}


	// When screen isn't as wide as the modal anymore
	@media screen and (max-width: $modal-max-width + 40) {
		.modal-inner {
			width: auto;
			left: 20px;
			right: 20px;
			margin-left: 0;
		}

		.modal-close {
			&:after {
				margin-right: 0 !important;
				right: 20px;
			}
		}
	}

	// For small screens adjust the modal
	@media screen and (max-width: $modal-small-breakpoint) {
        transform: translate3d(0, 100%, 0);
        transition: opacity 1ms .25s;

		display: block;
		right: auto;
		bottom: auto;

		&:target,
		&.is-active {
			width: 100%;
			height: 100%;

			// For IE we need to hide the close element to prevent overlay of other elements
			.modal-close {
				display: block;
			}
		}

		.modal-inner {
			box-sizing: border-box;

			top: 0;
			left: 0;
			right: 0;
			height: 100%;
			overflow: auto;
		}

		.modal-content {
			max-height: none;

			// Prevent text from breaking modal in mobile view
            word-break: break-all;
            word-break: break-word; // Non-standard for WebKit
            hyphens: auto;
		}

		.modal-close {
			display: none;
			right: auto;

			&:before {
				content: '';
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				z-index: 20;
			}

			&:after {
				top: 5px !important;
				right: 5px;
				left: auto;
				margin-left: 0;
			}
		}
	}

	// For small heights
	@media screen and (max-height: 46em) and (min-width: $modal-small-breakpoint) {
		.modal-content {
			max-height: 340px;
			max-height: 90vh;
		}
	}

	@media screen and (max-height: 36em) and (min-width: $modal-small-breakpoint) {
		.modal-content {
			max-height: 265px;
			max-height: 70vh;
		}
	}

	// Stackable Modals
	&.is-stacked {
		transform: translate(0, 0) scale(1, 1);
		opacity: 1;

		.modal-inner {
			animation: scaleDown .7s ease both;
		}

		// Hide overlay and close button
		.modal-close {
			opacity: 0;
		}

		// On small screens
		@media screen and (max-width: $modal-small-breakpoint) {
			animation: scaleDown .7s ease both;

			.modal-inner {
				animation: none;
			}

			.modal-close {
				opacity: 1;
			}
		}
	}
}
