/**
 * CSS Modal Themes
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 */

/*
 * Global Theme Styles
 */

%modal-theme {
	color: $modal-color;
	line-height: 1.3;

	// Content Area
	.modal-inner {
		border-radius: $modal-border-radius;
        background: $modal-inner-background;
        padding: 0;
		max-width: 100%;

        transition: max-width .25s linear,
                    margin-left .125s linear;
	}

	// Header
	header {
		border: 0;
		padding: 0 1.2em;

		> h2 {
			margin: .5em 0;
		}
	}

	// Content
	.modal-content {
		border: 0;
        padding: 0;
	}

	// Footer
	footer {
        border: 0;
        color: $modal-mobile-header;
		padding: 1em 0 0;
		background: none;
	}

	// A close button
	.modal-close {
		text-indent: -10em;

		// Background as close
		&:before {
			// Background for overlay
			background: transparent;
		}

		// Actual close button on modal
		&:after {
			content: 'X';
			background: $modal-inner-background;

			border-radius: $modal-border-radius;
			padding: 2px 8px;

			font-size: 1.2em;
			text-decoration: none;
			text-indent: 0;
		}
	}

	// For small screens adjust the modal
	@media screen and (max-width: $modal-small-breakpoint) {
		.modal-close:before {
			background:  $modal-mobile-header;
			height: 3em;
		}

		.modal-inner {
			padding-top: 3em;
		}

		.modal-close {
			text-decoration: none;

			&:after {
				content: attr(data-close);
				font-size: 1em;
				padding: .5em 1em;
			}
		}
	}
}


/*
 * Plain Screen Theme Styles
 */
%modal-theme-plainScreen {
	// A close button
	.modal-close {
		// Background as close
		&:before {
			background: $modal-plain-screen-overlay;
		}
	}
}
