/**
 * CSS Modal
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 */

// Modal General Styles
$modal-max-width: 1200px !default;
$modal-border-radius: 3em !default;
$modal-small-breakpoint: 30em !default;

// Modal Plain Screen Styles
$modal-plain-screen-overlay: #fff !default;

// Set high z-index to appear above all other content
$modal-layer: 999 !default;

// Color configuration
$modal-border-color: #fff !default;
$modal-inner-background: #fff !default;
$modal-color: #3b1c57 !default;
$modal-mobile-header: #3b1c57 !default;

// Core operations
@import 'modal-core';

// Modal animations
@import 'modal-animations';

// Theme styles
@import 'modal-theme';

/**
 * Apply the desired modal behavior to your container selector
 */
.modal--show {
    @extend %modal;
    @extend %modal-theme;
}

.modal--fade {
    @extend %modal--transition-fade;
    @extend %modal-theme;
}
