:root {
    --blue: #2092ed;
    --indigo: #6610f2;
    --purple-transparency: rgba(50, 25, 82, .85);
    --purple-light: #f2e9f3;
    --pink: #e83e8c;
    --red: #dd3d31;
    --orange: #fd7e14;
    --yellow: #ffca43;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --white-transparency: rgba(255, 255, 255, .25);
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #e784a7;
    --primary-hover: #f1588e;
    --primary-active: 0 0 0 .2rem rgba(255, 255, 255, .25);
    --secondary: #3b1c57;
    --secondary-hover: #221137;
    --secondary-active: 0 0 0 .2rem rgb(255, 255, 255, .25);
    --success: #28a745;
    --info: #8c43dd;
    --warning: #ffc107;
    --danger: #dd3d31;
    --light: #f8f9fa;
    --dark: #212529;
    --theme: #dd3d31;
    --template: #2092ed;
    --snippet: #ffc107;
    --guide: #28a745;
    --twitter: #1da1f2;
    --github: #333;
    --facebook: #3b5998;
    --twitch: #6441A4;
    --white: #fff;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-base: 'Roboto', Arial, sans-serif;
    --font-family-londrina: 'Londrina Shadow', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

body {
    overflow-x: hidden;
}

// .ff-londrina {
//     font-family: var(--font-family-londrina);
// }

.ff-londrina {
    font-family: var(--font-raleway);
    font-size: .875em;
    font-weight: 800;
    letter-spacing: -.05em;
    -webkit-text-stroke: .04em currentColor;
    -webkit-text-fill-color: transparent;
}

.ff-raleway {
    font-family: var(--font-raleway);
    font-size: .875em;
    font-weight: 800;
    letter-spacing: -.05em;

    .outline {
        -webkit-text-stroke: .04em currentColor;
        -webkit-text-fill-color: transparent;
    }
}

.p-005 {
    padding: 0 0 10%;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

::-webkit-input-placeholder {
    color: var(--secondary) !important;
}

:-moz-placeholder {
    color: var(--secondary) !important;
    opacity: 1;
}

::-moz-placeholder {
    color: var(--secondary) !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--secondary) !important;
}

::-ms-input-placeholder {
    color: var(--secondary) !important;
}

::placeholder {
    color: var(--secondary) !important;
}

.btn-primary {
    background-color: var(--primary);
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-weight: 400;
    margin: .75em 0;
    padding: .75em;
    transition: all .5s;
}

.btn-primary:hover {
    background-color: var(--primary-hover);
    border: none;
    color: var(--white);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: var(--primary-active);
}

.btn-secondary {
    background-color: var(--secondary);
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-weight: 400;
    margin: .75em 0;
    padding: .75em;
    white-space: normal;
}

.btn-secondary:hover {
    background-color: var(--secondary);
    border: none;
    color: var(--white);
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: var(--secondary-active)
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
    color: var(--white);
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background-color: var(--secondary);
    border: none;
    color: var(--white);
}

.wrapper {
    padding: 5% 2%;
    width: 100%;
}


/* Background */
.background-1 {
    background: url('../imgs/background_dobra1.png') no-repeat;
    background-size: 100% 100%;
}

.background-2 {
    background: url('../imgs/background_dobra2.png') no-repeat;
    background-size: 100% 100%;
}

.background-3 {
    background: url('../imgs/background_dobra3.png') no-repeat;
    background-size: 100% 100%;
}

.background-4 {
    background: url('../imgs/background_dobra4.png') no-repeat;
    background-size: 100% 100%;
}

/*.background-5 {
  background: url('../imgs/background_dobra5.png') no-repeat;
  background-size: 100% 100%;
}*/

.background-6 {
    background: url('../imgs/background_dobra6.png') no-repeat;
    background-size: 100% 100%;
}

.background-7 {
    background: url('../imgs/background_dobra7.png') no-repeat;
    background-size: 100% 100%;
}

.background-8 {
    background: url('../imgs/rodape.png') no-repeat;
    background-size: 100% 100%;
}


/* Header */
header {
    color: var(--white);
}

header img.logo {
    margin-top: 1.5em;
    width: 70px;
}

header .title {
    font-family: var(--font-family-base);
    font-size: 32px;
    line-height: .8;
}

header .title span:nth-child(1) {
    margin-left: 20px;
}

header .title span span {
    margin-left: 80px;
}

header .subtitle,
header .text-bottom {
    font-size: 16px;
    font-weight: 300;
}

header img.mcmv {
    width: 120px;
    margin: 1.5em 0;
}

header .style-text p {
    color: var(--yellow);
    font-size: 16px;
}

header .style-text p span {
    font-size: 2em;
}

header .style-text p sup {
    font-size: .6em;
}

@media (min-width: 576px) {
    .p-005 {
        padding: 0 0 40%;
    }
    .wrapper {
        padding: 10% 10%;
    }
    header .title {
        font-size: 62px;
    }
    header .subtitle {
        font-size: 22px;
    }
    header img.mcmv {
        width: 120px;
        margin: 1.5em 0;
    }
    header .style-text p {
        font-size: 20px;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .wrapper {
        padding: 10% 15%;
    }
    header .title {
        font-size: 86px;
    }
    header .title span:nth-child(1) {
        margin-left: 60px;
    }
    header .title span span {
        margin-left: 180px;
    }
    header .subtitle {
        text-align: center;
    }
    header .subtitle {
        font-size: 24px;
    }
    header .text-bottom {
        font-size: 18px;
        padding-top: 10%;
    }
    header .style-text p {
        font-size: 25px;
    }
    header .style-text p span {
        font-size: 32px;
    }
}


/* Section */

section {
    color: var(--white);
}

section .wrapper {
    padding: 10% 2%;
}

section img.logo {
    margin-top: 1.5em;
    width: 52px;
}

section .title {
    font-family: var(--font-family-base);
    font-size: 32px;
    line-height: .65;
    margin-top: 1em;
}

section .title.center {
    text-align: center;
}

section .title span:nth-child(1) {
    margin-left: 20px;
}

section .title span span {
    margin-left: 80px;
}

section .subtitle {
    margin-top: 2em;
}

section .subtitle,
section .text-bottom {
    font-size: 16px;
}

section img.mcmv {
    width: 120px;
    margin: 1.5em 0;
}

section .style-text p {
    color: var(--yellow);
    font-size: 50px;
}

section .style-text p span {
    font-size: 14px;
}

@media (min-width: 576px) {
    .btn-primary,
    .btn-secondary {
        padding: .75em;
    }
    .wrapper {
        padding: 5% 10%;
    }
    section .title {
        font-size: 62px;
    }
    section .subtitle {
        font-size: 22px;
    }
    section img.mcmv {
        width: 120px;
        margin: 1.5em 0;
    }
    section .style-text p {
        font-size: 18px;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .wrapper {
        padding: 10% 15%;
    }
    section .title {
        font-size: 86px;
    }
    section .title span:nth-child(1) {
        margin-left: 90px;
    }
    section .title span span {
        margin-left: 170px;
    }
    section .subtitle {
        text-align: center;
    }
    section .subtitle {
        font-size: 22px;
    }
    section .text-bottom {
        font-size: 12px;
        padding-top: 10%;
    }
    section .style-text p {
        font-size: 22px;
    }
    section .style-text p span {
        font-size: 32px;
    }
}

.background-4 .title.center b,
.background-4 .subtitle,
.background-4 span {
    color: var(--secondary);
}

.background-4 .title.center b {
    font-size: 24px;
    position: relative;
    left: -15px;
}

.background-4 .style-text .title {
    font-size: 40px;
    position: relative;
    left: -40px;
}

.background-4 .style-text span {
    font-size: 30px;
    position: relative;
    left: 30px;
}

@media (min-width: 576px) {
    .background-4 .title.center b {
        font-size: 42px;
        left: -50px;
    }
    .background-4 .style-text span {
        font-size: 42px;
        left: 30px;
    }
}

@media (min-width: 992px) {
    .background-4 .title.center b {
        font-size: 70px;
        left: -30px;
    }
    .background-4 .style-text span {
        font-size: 70px;
        left: 65px;
    }
}

.background-6 .title-form-help {
    position: relative;
    left: -85px;
}

.background-6 .wrapper-form {
    max-width: 360px;
    margin: auto;
    background-color: var(--white);
    border-radius: 5%;
    padding: 2em;
}

.background-6 .style-text .subtitle-form {
    color: var(--secondary);
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    padding: 0 2em 1em;
}

.background-6 input[type="text"],
.background-6 input[type="email"] {
    background-color: var(--purple-light);
    border: none;
    color: var(--secondary);
    font-weight: 600;
}

.background-6 small {
    color: var(--secondary);
    text-align: center;
}

.background-6 .subtitle {
    max-width: 485px;
    margin: 3em 0 2em 3em;
}

.background-6 .title {
    font-size: 62px;
}

@media (min-width: 576px) {
    .background-6 .title {
        font-size: 55px;
    }
    .background-6 .subtitle-form {
        font-size: 16px;
    }
    .background-6 .subtitle {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .background-6 .subtitle {
        text-align: left;
    }
    .background-6 .title {
        font-size: 62px;
    }
    .background-6 .subtitle {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .background-6 .title {
        font-size: 92px;
        position: relative;
        right: -100px;
    }
    .background-6 .subtitle {
        font-size: 22px;
    }
}

.container-bg-7 .row {
    margin: 0;
}

.background-7 .container-bg-7 {
    margin: auto;
    max-width: 768px;
}

.background-7 img {
    width: 120px;
}

.background-7 p {
    color: var(--secondary);
    margin-top: 1.5em;
    max-width: 640px;
}

@media (min-width: 576px) {
    .background-7 img {
        width: 120px;
        position: relative;
        top: 20px;
    }
    .background-7 p {
        margin-top: 0;
    }
}

.wrapper.background-8 {
    padding: 10% 5% 5%;
}

.background-8 .subtitle {
    font-size: 11px;
}

@media (min-width: 576px) {
    .background-8 .subtitle {
        font-size: 11px;
    }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .wrapper.background-8 {
        padding: 10%;
    }
    .background-8 .subtitle {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {}


/* Slide */

.slick-slider .slick-arrow {
    position: absolute;
    top: 50%;
    border: 0;
    border-radius: 100%;
    padding: 0;
    height: 50px;
    width: 50px;
    display: block;
    background: var(--white-transparency);
    color: transparent;
    font-size: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    outline: 0;
    z-index: 1;
    cursor: pointer;
}

.slick-slider .slick-arrow:before {
    content: '';
    font-size: 32px;
    line-height: 1;
    color: var(--white);
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.slick-slider .slick-arrow.slick-prev {
    left: 20px;
}

.slick-slider .slick-arrow.slick-prev:before {
    content: "\f053";
}

.slick-slider .slick-arrow.slick-next {
    right: 20px;
}

.slick-slider .slick-arrow.slick-next:before {
    content: "\f054";
}

.slick-lightbox .close {
    position: absolute;
    top: 100px;
    right: 150px;
    width: auto;
    color: #fff;
    opacity: 1;
}

.slick-lightbox .close:not(.disabled):hover {
    opacity: 1;
}

.carousel2-1 .slick-track {
    display: -webkit-flex;
    display: -webkit-box;
    -webkit-box-align: center;
    align-items: center;
}

.carousel2-1 .slick-slide {
    margin: 100px 1px;
    -webkit-transition: .5s;
    transition: .5s;
}

.carousel2-1 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.carousel2-1 .carousel-item {
    height: 100%;
    line-height: 1;
    overflow: visible;
    box-shadow: 0 5px 0 -5px rgba(255, 252, 252, 0);
    -webkit-transition: .5s;
    transition: .5s;

    img {
        max-height: 280px;
    }
}


.carousel2-1 .carousel-item:before {
    position: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    display: none;
    background: rgba(255, 252, 252, .5);
    opacity: 1;
    -webkit-transition: .5s;
    transition: .5s;
}

.carousel2-1 .carousel-item a,
.carousel2-1 .carousel-item a:after {
    pointer-events: none;
}

.carousel2-1 .carousel-item .open-lightbox {
    position: absolute;
    top: 20px;
    right: 10px;
    display: block;
    color: var(--white);
    line-height: 1;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    outline: none;
    z-index: 2;
    text-decoration: none;
}

.carousel2-1 .carousel-item .open-lightbox:before {
    content: '\f00e';
    font-size: 1.33333em;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    padding: 10px;
    border-radius: 50%;
    background: var(--purple-transparency);
}

.carousel2-1 .slick-slide.slick-center {
    margin: 30px 15px;
}

.carousel2-1 .slick-slide.slick-center .carousel-item {
    height: 200px;
}

.carousel2-1 .slick-slide.slick-center .carousel-item:before {
    opacity: 0;
}

.carousel2-1 .slick-slide.slick-center .carousel-item a,
.carousel2-1 .slick-slide.slick-center .carousel-item a:after {
    pointer-events: auto;
}

.carousel2-1 .slick-slide.slick-center .carousel-item .open-lightbox {
    opacity: 1;
}
.carousel2-1 .slick-slide.slick-center .card .open-lightbox {
    opacity: 1;
}
.carousel2-1 .slick-slide.slick-center .card {
    height: 200px;
}

.carousel2-1 .slick-slide.slick-center .card:before {
    opacity: 0;
}

.carousel2-1 .slick-slide.slick-center .card a,
.carousel2-1 .slick-slide.slick-center .card a:after {
    pointer-events: auto;
}
.carousel2-1 .card a,
.carousel2-1 .card a:after {
    pointer-events: none;
}
.carousel2-1 .card {
    border: 0;
    height: 200px;
    line-height: 2;
    overflow: hidden;
    box-shadow: 0 5px 0 -5px rgba(255, 252, 252, 0);
    -webkit-transition: .5s;
    transition: .5s
}
.carousel2-1 .card .open-lightbox {
    position: absolute;
    top: 20px;
    right: 10px;
    display: block;
    color: var(--white);
    line-height: 1;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    outline: none;
    z-index: 2;
    text-decoration: none;
}

.carousel2-1 .card .open-lightbox:before {
    content: '\f00e';
    font-size: 1.33333em;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    padding: 10px;
    border-radius: 70%;
    background: var(--purple-transparency);
}
.form-group {
    display: block;
    position: relative;
}

.form-control.form-ddd {
    width: 70px;
}

.col-tel {
    display: flex;
    justify-content: space-between;
}

.col-tel .form-group {
    display: inline-block;
    position: relative;
    width: auto;
}

@media (min-width: 576px) {
    .form-control.form-ddd {
        width: 70px;
    }
}

.error-message {
    color: red;
    font-size: .7em;
    position: absolute;
    right: .5em;
    text-align: right;
    bottom: .1em;
    width: 100%;
}

/* CAROUSEL CAPTION */
#carousel .carousel-caption{
    position: unset;
    line-height: 20px;
}


.icon {
    img {
        height: 1.16em;
        width: 1.16em;
    }
}

.infobar {
    &.-wrapper {
        background: rgba(#73278a, .7);
        bottom: 0;
        font: 400 1.7em/1.1 var(--font-family-base);
        left: 0;
        position: fixed;
        width: 100%;
        z-index: 9;

        @media (max-width: 1200px) {
            font-size: 1.25em;
        }

        @media (max-width: 767px) {
            font-size: 1em;
        }

        @media (max-width: 450px) {
            font-size: .75em;
        }
    }

    &.-inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        max-width: 38em;
        padding: 1em 0;
    }

    a {
        color: var(--yellow);
        text-decoration: none;

        @media (hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &.-item {
        border-left: 2px solid var(--white);
        color: var(--white);
        display: flex;
        justify-content: center;

        &:first-child {
            border: 0;
        }
    }
}

.sprite {
    fill: currentColor;
    margin-right: .5em;

    &.-baloon {
        height: 2.14em;
        width: 3.15em;

        @media (max-width: 640px) {
            display: none;
        }
    }

    &.-phone,
    &.-whatsapp {
        height: 2.14em;
        width: 2.14em;

        @media (max-width: 640px) {
            display: none;
        }
    }

    &.-lens {
        height: 48px;
        width: 48px;
    }

    &.-arrow-left {
        height: 32px;
        width: 19px;
    }

    &.-arrow-right {
        height: 32px;
        width: 19px;
    }
}

.carousel2-1 {
    position: relative;
}

.blueprints {
    &.-wrapper {
        font-size: 1.75em;
        line-height: 1.1;

        @media (max-width: 768px) {
            font-size: 1.25em;
        }
    }

    &.-caption {
        padding: .5em 2em 0;
    }

    &.-thumb img {
        max-height: 10em;
    }

    &.-item {
        padding-bottom: 4em;
        position: relative;
    }

    &.-caption {
        bottom: 0;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    &.-controls {
        bottom: 0;
        display: flex;
        justify-content: space-between;
        left: 0;
        position: absolute;
        width: 100%;
    }

    &.-prev,
    &.-next {
        cursor: pointer;

        @media (hover: hover) {
            &:hover .sprite {
                fill: var(--yellow);
                transition: fill .3s ease-in-out;
            }
        }
    }
}

.lightbox {
    &.-wrapper {
        color: #3b1c57;
        font-size: 1.75em;
        padding: 3em 4em;
        position: relative;
        width: 100%;
        height: 100%;

        @media (max-width: 768px) {
            font-size: 1.25em;
            padding: 4em 2em;
        }
    }

    &.-close {
        border: 3px solid #3b1c57;
        border-radius: 50%;
        color: #3b1c57;
        font-weight: bold;
        position: absolute;
        top: 1em;
        right: 1em;
        height: 2.25em;
        text-align: center;
        text-decoration: none;
        line-height: 2.1;
        width: 2.25em;
        z-index: 9;

        &:hover {
            text-decoration: none;
        }
    }

    &.-caption {
        text-align: center;
        margin-top: 1em;
        font-weight: bold;
    }
}

.gallery {
    &.-wrapper {
        background: #3b1c57;
        color: #fff;
        font-size: 1.75em;
        line-height: 1.1;
        padding: 0;
        min-height: 100vh;
        position: relative;

        @media (max-width: 768px) {
            font-size: 1.25em;
        }
    }

    &.-gallery {
        left: 0;
        min-height: 100vh;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

    &.-card {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;

        &:before {
            background: rgba(0,0,0,.4);
            bottom: 0;
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
        }
    }

    &.-caption {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100%;
        padding: 0 2em 2em;
        max-width: 1200px;
        margin: 0 auto;
        z-index: 1;
        position: relative;
        font-size: 1em;

        @media (max-width: 768px) {
            font-size: 1em;
        }

        @media (max-width: 512px) {
            padding-bottom: 5em;
        }
    }

    &.-nav {
        bottom: 8em;
        padding: 0 1.5em;
        position: absolute;
        overflow: hidden;
        width: calc(900px + 3em);
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        @media (max-width: 1200px) {
            width: calc(560px + 3em);
        }

        @media (max-width: 768px) {
            width: calc(320px + 3em);
        }

        img {
            border-radius: .5em;
            margin: 10px;
            width: calc(100% - 20px);
        }
    }

    &.-navitem {
        width: auto;

        @media (max-width: 1200px) {
            width: 110px;
            height: 110px;
        }
    }

    &.-prev,
    &.-next {
        margin-top: -8px;
        position: absolute;
        top: 50%;

       .sprite {
            margin: 0;
        }

        @media (min-width: 1201px) {
            margin-top: -24px;

            .sprite {
                height: 64px;
                width: 38px;
            }
        }
    }

    &.-prev {
        left: 0;
    }

    &.-next {
        right: 0;
    }

    &.-cta {
        bottom: 5em;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        z-index: 2;
    }
}

.button {
    &.-primary {
        background-color: var(--primary);
        border-radius: .4em;
        border: 0;
        color: var(--white);
        font: 400 1em/1 var(--font-family-base);
        margin: .5em 0;
        padding: .75em 3em;
        transition: background .3s;
        white-space: nowrap;

        @media (hover: hover) {
            &:hover {
                background-color: var(--primary-hover);
            }
        }
    }
}

.titles {
    font: 800 3em/1.1 var(--font-raleway);
    letter-spacing: -.05em;
    margin: 0;

    b {
        -webkit-text-stroke: .04em currentColor;
        -webkit-text-fill-color: transparent;
    }

    &.-gallery {
        position: absolute;
        top: .5em;
        left: .5em;

        @media (min-width: 768px) {
            font-size: 4em;
        }
    }
}

.video {
    &.-wrapper {
        max-height: 100vh;
        position: relative;
        width: 100%;
    }

    &.-video {
        display: block;
        object-fit: cover;
        outline: none;
        position: relative;
        width: 100vw;
    }

    &.-tourimg {
        display: block;
        object-fit: cover;
        outline: none;
        height: 80vh;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 8;
        transition: opacity .3s ease-in;
    }

    &.-tourtxt {
        display: block;
        outline: none;
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 50vw;
        z-index: 9;
        transition: opacity .3s ease-in;
        transform: translate(-50%, -50%);
        pointer-events: none;

        @media (max-width: 768px) {
            max-width: 70vw;
        }
    }

    &.-tour {
        display: block;
        height: 80vh;
        outline: none;
        position: relative;
        width: 100vw;
        z-index: 1;

        @media (min-width: 768px) {
        }
    }

    .hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.localizacao {
    &.-wrapper {
        background: url('../imgs/localizacao.jpg') no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        height: 67vw;
        position: relative;
        width: 100%;
    }

    &.-cta {
        bottom: 8.7vw;
        font-size: 1.75vw;
        position: absolute;
        right: 18.25vw;
        text-transform: uppercase;
    }

    &.-pin {
        bottom: 13.75vw;
        position: absolute;
        left: 50%;
        margin-left: -21.8vw;

        img {
            height: auto;
            width: 11.15vw;
        }
    }

    &.-label {
        background: #3b1c57;
        border-radius: 2em;
        color: #fff;
        display: inline-block;
        font-family: Roboto;
        font-size: 1.6vw;
        left: 50%;
        line-height: 1;
        padding: .3em 1.5em .4em;
        position: absolute;
        width: auto;

        .sprite {
            background: #3b1c57;
            border-radius: 50%;
            display: flex;
            height: 2.6em;
            margin: 0;
            left: -1.3em;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 2.6em;
            align-items: center;
            justify-content: center;

            img {
                height: auto;
                width: 1.25em;
            }
        }
    }

    &.-washington {
        top: 22vw;
        margin-left: -4.69vw;
    }
    &.-cupece {
        top: 36.14vw;
        margin-left: 11.45vw;
    }
    &.-nabuco {
        top: 27vw;
        margin-left: 19.5vw;
    }
    &.-congonhas {
        top: 21.875vw;
        margin-left: 28vw;
    }
    &.-mascote {
        top: 15.5vw;
        margin-left: 28vw;
    }
    &.-brooklin {
        top: 12vw;
        margin-left: 16.5vw;
    }
    &.-prudencia {
        top: 18.25vw;
        margin-left: -27.6vw;
    }
    &.-interlagos {
        top: 24vw;
        margin-left: -40.8vw;
    }
}

#formulario{
    .subtitle{
        strong{
            color: var(--yellow);
        }
    }
}